

/* Button */
button {
  padding: 0.75rem 1.25rem;
  background: var(--secondary-color);
  color: white;

  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}

.button-red {
background: var(--accent-color);
  border: solid var(--accent-color);
}

button:hover {
  background: var(--primary-color);
      transform: translateY(-2px);

}

button:focus {
  outline: 3px solid var(--accent-color);
  outline-offset: 2px;
      transform: translateY(-2px);

}


