/*--FORMS    */

#community-form {
  width: 100%;
  max-width: 100%;
  /*margin: 1rem auto;*/
  /*padding: 1rem;*/
  background: #ffffff;
  /*border: 1px solid #ddd;*/
  /*border-radius: 12px;*/
  font-family: system-ui, sans-serif;
  color: var(--secondary-color);
}
#community-form label {
  display: bl;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

#community-form input[type="text"],
#community-form input[type="email"],
#community-form input[type="file"],
#community-form textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.4;
}

#community-form input:focus,
#community-form textarea:focus {
  outline: 3px solid var(--accent-color);
  outline-offset: 3px;
  border-color: var(--secondary-color)

}
@media (min-width: 768px) {
  #community-form {
    max-width: 480px; 
    padding: 1.5rem;
  }
}