/* Mobile */
.quick_nav_container {
    display: flex;
    flex-direction: column;

}                                                        

.quick_nav_subcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.quick_nav_subcontainer_right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

/* Larger Screens */
@media (min-width: 768px) {
    .quick_nav_container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem 0rem;
    }
    
    .quick_nav_subcontainer {
    width: 33.3%;
    border-style: solid;
    border-color: var(--feature-gray-color);
    border-right-width: 1px;
    }

    .quick_nav_subcontainer_right {
    width: 33.3%;
    
}
}