.sidebar {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    gap: 1rem;
}


.sidebar .sidebar-subsection {

    width: 100%;
    padding: 1rem;
    padding-top: 0;
}

.sidebar .sidebar-subsection h1 {
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: 400;
}

.sidebar .card-container {

    padding: 0px;
    margin: 0;
}

    .sidebar .card {
        max-width: 100%;
        height: 120px;
        flex-direction: row-reverse;
        justify-content: left;
    
    }
    .sidebar .card img {
    height:120px; 
    object-fit: cover;
    width: 100%;
    border-radius: 0px 14px 14px 0px;
    justify-self: right;
    }

    .sidebar .card .text-box {
        padding: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        align-content: center;
        width: 100%;
    }


@media (min-width: 768px) {

    .sidebar {
    position: absolute;
    top: 570px;
    height: auto;
    right:2%;
    width: 25%;
    padding: 1rem;
    

    }

    .sidebar-subsection {
        background-color: var(--feature-gray-color);
        border-radius: 5px;
    }

    .sidebar .sidebar-subsection h1 {
        color: white;
    }
    .sidebar .card {
        max-width: 100%;
        height: 120px;
        flex-direction: row-reverse;
        justify-content: left;
    
    }
    .sidebar .card img {
    height:120px; 
    object-fit: cover;
    width: 100%;
    border-radius: 0px 14px 14px 0px;
    justify-self: right;
    }

    .sidebar .card .text-box {
        padding: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        align-content: center;
        width: 100%;
        
    }

}   