.spotlight-container {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 100vw;
    position: relative;
    left: 50%;
    right:50%;
    margin-left: -50vw;
    background-color: white;
    border: solid var(--feature-gray-color);
    border-width: 1px 0px 1px 0px;

}


.spotlight-container-content {
    
    background-color: white;
    padding: 2rem;

}


/* Larger Screens */
@media (min-width: 768px) {
    .spotlight-container {
        flex-direction: row;
        padding-left: 20%;
        padding-right: 20%;


    }
    .spotlight-container-content {
        flex-basis: 100%;

    }
}