.spotlight-container {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    width: 100vw;
    position: relative;
    left: 50%;
    right:50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: white;
    border: solid var(--feature-gray-color);
    border-width: 1px 0px 1px 0px;

}


.spotlight-container-content {
    background-color: white;
    width: 100%;
    padding: 2rem;
    background-color: aqua;

}


/* Larger Screens */
@media (min-width: 768px) {
    .spotlight-container-content {
        width: 90vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}