/* Global styles */

:root {
    --color-primary: #999ac6;
    --color-secondary: #0b3954;
    --color-light: #fff9ec;
    --color-dark: #798071;
    --color-bright: #ff5a5f;
    --color-background: #fcfafa;
}

body {
    background-color: var(--color-background);
    color: var(--color-dark);
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
}

/* Headings */
h1 {
    font-size: 4rem;
    color: var(--color-primary);
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}
h2 {
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}
h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}
h4 {
    font-size: 1rem;
    color: var(--color-secondary);
    font-weight: bold;
}
h5 {
    font-size: 0.75rem;
    color: var(--color-secondary);
    font-weight: bold;
}

/* Paragraphs */
p {
    padding-bottom: 1.6rem;
}

/* Sections 
section {
    gap: 2rem;
}*/

