/* Mobile */
.styleguide-layout {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: #fff;
    padding-bottom: 2rem;

}                                                        

/* Larger Screens */
@media (min-width: 768px) {
    .styleguide-layout {
        flex-direction: row;
        width: 70vw;
        background-color: #fff;
    }
}


.textbox-left {

    flex-basis: 150%;
    border-style: solid;
    border: right #000;

}

@media (min-width: 768px){
    .textbox-left {

    flex-basis: 150%;
    padding-right: 50px;
    border-style: solid;
    border: right #000;
    }
}

.textbox-right {
      display: flex;
      flex-direction: column;
    flex-basis: 150%;
    padding-left: 1rem;
  justify-content: center;
  align-items: center;

    border-style: solid;
    border: right #000;
    border-left-width:1px;
    
}

@media (min-width: 768px) {.textbox-right {
  justify-content: center;
  align-items: center;
    padding-left: 50px;
    border-left-width:1px;
}    
}