/*--------------------
    DEFAULT COLOURS
----------------------*/
:root {
    --primary-color: #233131; /* Dark Aqua */
    --secondary-color: #557373; /* Medium Aqua */
    --accent-color: #a64d2d; /* Burnt Orange */
    --text-color: #99918b; /* Dark Grey */
    --box-color: #ffeddc; /* Light Beige */
    --background-color: #F5F5F5; /*Light Grey */
}

/*----------
    BODY
------------*/

.body {
    background-color: var(--background-color);
}


/*---------------------------
    HEADINGS AND PARAGRAPH
-----------------------------*/

.page-title {

    font-family: "Cinzel", serif;
    font-size: 2.4rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    padding-bottom: 1rem;
        padding-top: 1rem;


}

@media (max-width: 767.9px) {.page-title::after {
    line-height: 1.5;
    content:"\A⚓︎";
    white-space: pre;

}
}
@media (min-width: 768px) { .page-title {
        font-size: 4.2rem;
        text-align: left;
}
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    text-align: left;
    color: var(--primary-color);
    padding-bottom: 1rem;

        padding-top: 1rem;
}

@media (min-width: 768px) { h1 {
        font-size: 2.4rem;
        text-align: left;}
}





h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
    color: var(--primary-color);
    padding-bottom: 1rem;

        padding-top: 1rem;
        line-height: 1.3;
}

@media (min-width: 768px) { h2 {
        font-size: 1.6rem;
        text-align: left;}
}


h3 {
    font-family: "Inter", sans-serif;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 400;
        padding-top: 1rem;

    padding-bottom: 0.5rem;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 150%;
        padding-top: 1rem;

    padding-bottom: 1rem;
}



ul {
    padding-bottom: 1rem;
}

li {
}


/*---------------------
    NAVIGATION MENUS   
-----------------------*/
/* Base styles */
nav ul {
    display: flex;
        z-index: 3;

    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Icon styling for mobile nav menu */
#nav-mobile ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-decoration: none;
    z-index: 1;

}

/*---------
    BODY
-----------*/

body {
    background-color: var(--light-grey);
}

/*----------------
    HYPERLINKS
----------------*/

.textlink {
  color: var(--primary-color);
    text-decoration: underline;

  transition: color 0.2s ease, transform 0.2s ease;
}

.textlink:hover,
.textlink:focus {
font-weight: bold;
text-decoration: none;  

color: var(--accent-color);

}

.textlink:active {
  transform: translateY(0); /* reset on click */
      border-color: var(--accent-color);

  color: var(--accent-color)
}

/*-----------
    IMAGES
-------------*/

.img-fluid {
    max-width: 100%;
    height: auto;
    padding: 1rem;

}

.img-fluid-45 {
    max-width: 40%;
    height: auto;
    padding: 1rem;
}