@import '../component_skeletons/accordion.css';                              




/*---------------------
    NAVIGATION MENUS 
-----------------------*/

/* Responsive control for mobile */
#nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#nav-desktop {
    display: none;
}

/* Responsive control for tablets and computers */
@media only screen and (min-width: 768px) {
    #nav-desktop {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 100vw;
        background-color: var(--secondary-color);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    #nav-mobile {
        display: none;
    }
}

/* Nav links */
#nav-desktop a {
    display: block;
    padding: 1rem 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

#nav-desktop a::after {
    content: "ꕀ";
    color: aliceblue;
    opacity: 0%;
    vertical-align: text-bottom;
    transition: opacity 0.3s ease;
    color: var(--background-color);
}

#nav-desktop a::before {
    content: "ꕀ";
    color: aliceblue;
    opacity: 0%;
    vertical-align: text-bottom;
    transition: opacity 0.3s ease;
    color: var(--background-color);
}

#nav-desktop a:hover {
    color: var(--background-color);
}

#nav-desktop a:hover::after {
    content: "ꕀ";
    color: var(--background-color);
    opacity: 70%;
    transition: opacity 1s ease;
}

#nav-desktop a:hover::before {
    content: "ꕀ";
    color: var(--background-color);
    opacity: 70%;
    transition: opacity 1s ease;
}


/*--------------------
    BREADCRUMB MENU
----------------------*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/*----------------------
    RESPONSIVE IMAGES
------------------------*/

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}              


/* -----------------
    CONTENT CARDS
--------------------*/

/* Card container */
.card-container {
    display: flex;
    flex-direction: column; /* mobile-first: stacked */
    gap: 20px; /* space between cards */
}

/* Card */
.card {
    background: #fff;
    border-radius: 8px;
    height: 200px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); /* subtle drop shadow */
    flex: 1 1 100%; /* take full width on mobile */
}

/* Larger Screens */
@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
    }

    .card {
        flex: 1 1 calc(33.33% - 20px); /* 3 cards across, accounting for gap */
    }
}




/*------------
    Buttons
--------------*/


