@import url("../component_skeletons/forms.css");
@import url("../component_skeletons/navigation_cards.css");
@import url("../component_skeletons/cards.css");
@import url("../component_skeletons/buttons.css");


.card-container {
        flex-direction: row; /* mobile-first: stacked */

}

/* Mobile */
.container-behavioural {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: #fff;
}                                                        

/* Larger Screens */
@media (min-width: 768px) {
    .container-behavioural {
        flex-direction: row;
        width: 70vw;
        background-color: #fff;
    }
}

.textbox-left {

    flex-basis: 150%;
    padding-right: 50px;
    border-style: solid;
    border: right #000;

}

.textbox-right {
    flex-basis: 150%;
    padding-left: 50px;
    border-style: solid;
    border: right #000;
    border-left-width:1px;
}